.star {
  border: 3px solid hsl(210, 20%, 18%);
  background-color: hsl(213, 19%, 18%);
  padding: 0.8em;
  width: 0.8em;
  border-radius: 50%;
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}

.description {
  color: hsl(217, 12%, 63%);
  font-size: 0.9675rem;
}

.ratingNumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5em;
}

.submit {
  margin-top: 1.25em;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 0.8rem;
  width: 100%;
  padding: 10px 0px;
  border-radius: 1.25em;
  border: none;
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}