.result {
  margin: 1em
}

.resultMessage {
  color: hsl(25, 97%, 53%);
  font-size: 0.625rem;
  background-color: hsl(213, 19%, 18%);
  padding: 5px 18px;
  border-radius: 10px;
  word-spacing: 1px;
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}

.description {
  color: hsl(217, 12%, 63%);
  font-size: 0.9375rem;
  font-weight: 400;
}