body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(228, 11%, 9%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(215, 20%, 16%);
  max-width: 320px;
  padding: 1.56em;
  border-radius: 1.25em;
}


.text-center {
  text-align: center;
}